#status-nav {
  display: flex;
  justify-content: center;
  margin: 3px 5px;
}

#status-nav .status-nav__column {
  width: 33%;
}

#status-nav .status-nav__column:nth-child(1) {
  display: flex;
  justify-content: left;
  align-items: center;
}

#status-nav .status-nav__column:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
}

#status-nav .status-nav__column:nth-child(3) {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.status-nav__column .fa-wifi {
  margin: 0 5px;
}

.status-nav__column .fa-battery-full {
  margin: 0 5px;
}
